body{
    background-image: url(/home/placement/Downloads/honey/green.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}header{
    background-color: black;
    display: flex;
    height: 100px;
}

.a{
    color: aliceblue;
    padding: 10px;
    text-decoration: none;
    background-color: grey;
    border-radius: 50px;
    margin-right: 10px;
}
.navbar{
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 130px;
    padding: 10px;
}
.a:hover{
    background-color: purple;
}
#grid{
    display: flex;
    
}
h2{
    text-align: center;
    color: rgb(7, 27, 252);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.img1 img{
    padding: 5px;
    border-radius: 10%;
}
.para1{
    padding: 5px;
    font-size: 14px;
}
.grid1{
    display:grid;
    grid-template-columns: auto auto auto;
    margin-left: 40px;
    
}
#vdo{
    overflow: auto auto;
    white-space: nowrap;
}
#vdo .slide{
    display: inline-block;
}

form{
    padding: 20px;
    text-align: center;
    background-color: red;
    border-radius: 10%;
    margin-left: 200px;
    
}
.inputbox{
    padding: 20px;
}
label{
    color: aqua;
}
.btn input{
    background-color: aquamarine;
}
.btn input:hover{
    background-color: chartreuse;
}
.cr{
    display: flex;
    margin-left: 100px;
    
}
.last a{
    color:sandybrown;
    padding: 50px;
    font-size: 25px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.last{
    margin-left: 120px;
}
footer{
    padding: 30px;
    background-color: black;
    margin-top: 30px;
    